<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let post of posts;trackBy:trackbyService.post">
            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/posts',post._id,'details']" class="white">
                        {{post.title | capitalize }} 
                    </a>
                    <a [routerLink]="['/posts',post._id,'edit']">
                        <i title="Edit"  
                           class="pull-right glyphicon glyphicon-edit edit-icon white"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="assets/images/damien.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{post.author | trim }}, {{post.createDate | date : 'dd/MMM/yyyy'}}</div>
                            <a [routerLink]="['/posts',post._id,'details']">View Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!posts.length">
            No Records Found
        </div>
    </div>
</div>